.main{
    width: 100%;
    height: 100%;
    background-color:#FFFCEF;
    text-align: center;
}

h1{
    font-weight: bold;
}
h2 {
    font-weight: 400;
}

p{
   font-size: 400;
    font-style: italic;
}


.toCenter{
    display: block;
      
      position: absolute;
      top: 50%;
      right: 22%;
    
}

