<app-nav-bar></app-nav-bar>

<div class="main">
  
<br>
<br>

<h1> <i>Bored!</i> </h1>

<h2>- Welcome to Bored international network -</h2>
<br>
<br>
<p>
Creating new connections without ambuigity
</p>

<br>
<br>
<br>
<br>
<br>
<button  class ='spin-test2' mat-raised-button color="primary" type="submit">Get Connected !</button>


<br>
<br>

</div>


<div class="toCenter">
  <mat-progress-spinner [mode]="isDeterminate ? 'determinate' : 'indeterminate'"
      [value]="progressValue" color="warn" [strokeWidth]="8" [diameter]="216"></mat-progress-spinner>
  </div>
