<app-nav-bar></app-nav-bar>



<div id="login-form">
<br>
<br>
<br>
    <p>
        LOGIN:
      </p>
    <mat-form-field>
  <input matInput type="text" placeholder="username" [(ngModel)]="user.username">
</mat-form-field>
  <mat-form-field>
  <input matInput type="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password">
  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
</mat-form-field>
  <button mat-button color="accent"  (click)="sendlogin()" >Login!</button>
  
</div>




