<app-nav-bar></app-nav-bar>



<section *ngIf="user">



    <!-- personal data -->


        <div  *ngIf="!showEditUsername">
          <img class="first-draw-profile-pic" [src]="'http://localhost:3000/' + user.image"> 
          
          <p class="first-draw-profile-credentials" >{{user.username}} {{user.lastName}}</p>
          
          
        </div>
        
 
    <!-- profile info -->

   
      <h5 class="profile-title">Profile :</h5>

      <div class="profile-content">
      <!-- userName -->
      <div *ngIf="!showEditUsername">
        <p class="profile-subtitle" >Username: <span class="profile-output">{{user.username}}</span>
          <button mat-raised-button class="edit" (click)="showEditUsername=true">edit</button>
        </p>
      </div>
      <div *ngIf="showEditUsername">
          <mat-form-field>
        <input matInput (keydown.enter)="sendModification()" type="text" [(ngModel)]="user.username">
      </mat-form-field>
      </div>
      
      
      <!-- Last name -->
      <div *ngIf="!showEditLastName">
        <p class="profile-subtitle">Last Name: <span class="profile-output">{{user.lastName}}</span>
          <button mat-raised-button class="edit" (click)="showEditLastName=true">edit</button>
        </p>
      </div>
      <div *ngIf="showEditLastName">
          <mat-form-field>
        <input matInput (keydown.enter)="sendModification()" type="text" [(ngModel)]="user.lastName">
      </mat-form-field>
      </div>

      <!-- Age -->
      <div *ngIf="!showEditAge">
        <p class="profile-subtitle">Age: <span class="profile-output">{{user.age}}</span> years old!
          <button mat-raised-button class="edit" (click)="showEditAge=true">edit</button>
        </p>
      </div>
      <div *ngIf="showEditAge">
          <mat-form-field>
        <input matInput (keydown.enter)="sendModification()" type="number" [(ngModel)]="user.age">
      </mat-form-field>
      </div>

      <!-- phoneNumber -->

      <div *ngIf="!showEditphoneNumber">
          <p class="profile-subtitle">Your Phone Number: <span class="profile-output">{{user.phoneNumber}} </span>
            <button mat-raised-button class="edit" (click)="showEditphoneNumber=true">edit</button>
          </p>
        </div>
        <div *ngIf="showEditphoneNumber">
            <mat-form-field>
          <input matInput (keydown.enter)="sendModification()" type="number" [(ngModel)]="user.phoneNumber">
        </mat-form-field>
        </div>


      <!-- email -->
      <div *ngIf="!showEditEmail">
        <p class="profile-subtitle">Email: <span class="profile-output">{{user.email}}</span>
          <button mat-raised-button class="edit" (click)="showEditEmail=true">edit</button>
        </p>
      </div>
      <div *ngIf="showEditEmail">
          <mat-form-field>
        <input matInput (keydown.enter)="sendModification()" type="text" [(ngModel)]="user.email">
      </mat-form-field>
      </div>

         <!-- Belief -->
         <div *ngIf="!showEditBelief">
            <p class="profile-subtitle">Your Belief:  <span class="profile-output"> <b> {{user.belief}}</b></span>
              <button mat-raised-button class="edit" (click)="showEditBelief=true">edit</button>
            </p>
          </div>
          <div *ngIf="showEditBelief">
              <mat-form-field>
            <input matInput (keydown.enter)="sendModification()" type="text" [(ngModel)]="user.belief">
          </mat-form-field>
          </div>

           <!-- Citation -->
         <div *ngIf="!showEditCitation">
            <p class="profile-subtitle">One of your favourite citation: <i> <span class="profile-output">{{user.citation}}</span></i>
              <button mat-raised-button class="edit" (click)="showEditCitation=true">edit</button>
            </p>
          </div>
          <div *ngIf="showEditCitation">
              <mat-form-field>
            <input matInput (keydown.enter)="sendModification()" type="text" [(ngModel)]="user.citation">
          </mat-form-field>
          </div>

      <!-- AverageBoredTimePerWeek -->
      <div *ngIf="!showEditAverageBoredTimePerWeek">
        <p class="profile-subtitle">#Bored moments per week: <span class="profile-output">{{user.averageBoredTimePerWeek}} h</span>
          <button mat-raised-button class="edit" (click)="showEditAverageBoredTimePerWeek=true">edit</button>
        </p>
      </div>
      <div *ngIf="showEditAverageBoredTimePerWeek">
          <mat-form-field>
        <input matInput (keydown.enter)="sendModification()" type="number" [(ngModel)]="user.averageBoredTimePerWeek">
      </mat-form-field>
      </div>

      <!-- image -->
      <div>
          <img [src]="'http://localhost:3000/' + user.image">
        <input  class="profil-pic-input" type="file" name="file" ng2FileSelect [uploader]="uploader" />
        <button mat-raised-button (click)="updatePhoto()">Update Photo</button>

      </div>

      <div class="delete-button">
      <button  mat-raised-button color="warn" (click)="deleteProfile()">Delete my profile</button>
    </div>

   
  </div>
</section>


<section *ngIf="proposi">

  <p >{{proposi.title}}</p>

  <!-- title -->
  <div *ngIf="!showEditTitle">
      <p>Proposition: {{proposi.title}}
        <button mat-raised-button class="edit" (click)="showEditTitle=true">edit</button>
      </p>
    </div>
    <div *ngIf="showEditTitle">
        <mat-form-field>
      <input matInput(keydown.enter)="sendProposiModification()" type="text" [(ngModel)]="proposi.title">
    </mat-form-field>
    </div>


</section>