<app-nav-bar></app-nav-bar>

<div class="background">
  <br>
<h1 class="main-title">{{ titl }}</h1>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->




<agm-map class="sticky-map" *ngIf="usersList" [latitude]="lat" [longitude]="lng" [zoom]="zoom">

<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>

  <!-- Heroku :  [iconUrl]="base_URL + u.image" -->
  <agm-marker *ngFor="let u of usersList" (markerClick)="markerClick(m)"
  
  
 
  [iconUrl]="base_URL + u.image"
  [latitude]="u.location.coordinates[0]" 
  [longitude]="u.location.coordinates[1]">

  <agm-info-window >
     <strong>  {{u.username}} {{u.lastName}}  </strong> 
    <br> 
    {{u.age}} years old 
    <p  *ngFor="let prop of propositionList">
    <span *ngIf="prop.owner === u._id">
      <b> {{prop.title}}</b> 
    </span>

   
    <a [routerLink]="['../user', u._id, 'proposition-overview' , prop._id]" ><span class="agm-da-link"> Let's see:  </span></a>

   </p>
      <!-- 'http://localhost:3000/' -->

  </agm-info-window>

</agm-marker>


<!-- [label]="u.username" -->

</agm-map>
</div>

<br>
<br>

<h3 class="title-second">Your <i style="color:#FC4482">#UNBORED!</i>  Way Out</h3>



<div class="proposition-form"> 
  <form  (ngSubmit)="sendPropositionForm(myForm)" #myForm="ngForm">
    
      <mat-form-field class="field-width">
        
        <input class="input-size" matInput placeholder="Your #UNBORED! Activity Proposition" id="title" [(ngModel)]="title" name="title" type="text">
      </mat-form-field>
      <br>

    <mat-form-field class="field-width">
        
        <input matInput  class="input-size"  placeholder="When you'd like to make it happen ?" id="startTimeDate" [(ngModel)]="startTimeDate" name="startTimeDate" type="date">
      </mat-form-field>
<br>
    <mat-form-field class="field-width">
        
        <input class="input-size" matInput placeholder="At which hour it starts ?" id="startTimeHour" [(ngModel)]="startTimeHour" name="startTimeHour" type="time"> 
      </mat-form-field>
    <!-- <span>Date: {{ today | date:'shortTime' }} </span> -->
    <br>
    <mat-form-field class="field-width">
       
        <input class="input-size" matInput placeholder="Where do you want to realize your activity?" id="location" [(ngModel)]="location" name="location" type="text"> 
      </mat-form-field>
<br>
    <!-- héhéhé shortcut mini front hack here -->
    <input [(ngModel)]="userid" name="id" type="hidden">
    
 
    <button class="send-prop-button" color="accent" mat-raised-button type="submit">
     Launch Your <i>#UNBORED!</i>
    </button>
    
  </form>
</div>
<!-- 
<div *ngFor = "let user of UsersList">
  <h3>{{user.username}} {{user.lastName}}</h3> 
  <ul>
    <li>{{user.age}}</li>
    <li>{{user.averageBoredTimePerWeek}}</li>
  </ul>     

<img [src]="'http://localhost:3000/' + user.image">
</div> -->


