<app-nav-bar></app-nav-bar>

<div class="signup-form">

<form (ngSubmit)="sendsignup(myForm)" #myForm="ngForm">

    <mat-form-field>
  <input matInput name="username" [(ngModel)]="username" type="text" placeholder="Your name:">
</mat-form-field>
  <br>
  <mat-form-field>
  <input matInput name="lastName" [(ngModel)]="lastName" type="text" placeholder="Your last name:">
</mat-form-field>
  <br>
  <mat-form-field>
  <input matInput name="age" [(ngModel)]="age" type="number" placeholder="Your age:">
</mat-form-field>
  <br> 
  <mat-form-field>
  <input matInput name="phoneNumber" [(ngModel)]="phoneNumber" type="number" placeholder="Your Phone Number:">
</mat-form-field>
  <br>
   <!-- address -->
   <!-- pour l edit !!! -->
   <!-- <div *ngIf="!showEditAddress">
    <p>Address: {{user.location.address}} <span class="edit"  (click)="showEditaddress=true ; getReadyAutocomplete()">edit</span></p>
  </div> 
  <div *ngIf="showEditaddress"> -->
      <!-- <p>Address: {{user.location.adress}} <span class="edit"  (click)="showEditAdress=true ; getReadyAutocomplete()">edit</span></p> -->
     <div>
        <mat-form-field>
    <input matInput autocorrect="off" autocapitalize="off" spellcheck="off"   #search name="location" placeholder="Your bored usual location" type="text"  [(ngModel)]="location" >
  </mat-form-field>
    
  </div>      

            <br>
            <mat-form-field>
  <input matInput name="email" [(ngModel)]="email" type="text" placeholder="Your email:">
  
</mat-form-field>
  <br>

    <input  type="file" name="file" ng2FileSelect [uploader]="uploader" />      


  <br>
  <mat-form-field>
  <input matInput name="averageBoredTimePerWeek" [(ngModel)]="averageBoredTimePerWeek" type="number" placeholder="Number of hours you use to get bored per week">
</mat-form-field>
  <br>
  <br>
  <mat-form-field>
  <input matInput name="password" [(ngModel)]="password" [type]="hide ? 'password' : 'text'" placeholder="Your Password">
  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
</mat-form-field>
  <br>
  <mat-form-field>
  <input matInput name="password2" [(ngModel)]="password2" [type]="hide ? 'password' : 'text'" placeholder="Confirm Password">
  <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
</mat-form-field>
  <br>
  <button id="signup-button" mat-button color="primary" type="submit">Signup !</button>
  <!-- <button *ngIf="password !== password2" disabled>Signup !</button> -->

</form>
</div>
<!-- *ngIf="password === password2" -->